
    .values
    {
    
     font-family: Arial; 
     font-size: 7pt; 
     
     }
    .tcc_values_vertical
    {
     font-family: Arial; 
     font-size: 7pt; 
     
     }

    .tcc_values
    {
     font-family: Arial; 
     font-size: 7pt; 
     }
    .tcc_values_1
    {
     font-family: Arial; 
     font-size: 8pt; 
     }
    .tcc_values_2
    {
     font-family: Arial; 
     font-size: 10pt; 
     }
    .circlevalues
    {
    
     font-family: Arial; 
     font-size: 8pt; 
     
     }
    .items
    {
    
     font-family: Arial; 
     font-size: 8pt; 
     
     }
    .legendtext
    {
    
     font-family: Arial; 
     font-size: 8pt; 
     
     }

    .tcc_chartlabel
    {
    
     font-family: Arial; 
     font-size: 10pt; 
     
     }

    .tcc_footnote
    {
    
     font-family: Arial; 
     font-size: 7pt; 
     
     }    
    </style>
    
